<div style="width: 80%;margin: 0 auto;">
  <h1>Crear tarifa</h1>
  <%= form_for @tarifas do |f|%>
    <div class="field">
      <%= f.text_field :preciotarifa, placeholder: "Ingrese Tarifa", class:"form-control" %>
    </div>
    <div class = "field">
      <%= f.submit "Guardar", class:"btn be-red white" %>
    </div>
  <%end%>
</div>
