<body id = "fondo">
  <% if user_signed_in? && current_user.admin? %>
    <font color = "white">
      <h1 align = "center"> Administrador <%= current_user.nick_name %></h1>
    </font>
  <%end%>
  <% if user_signed_in? && current_user.user? %>
    <font color = "white">
      <h1 align = "center">Bienvenid@ <%= current_user.nick_name %></h1>
    </font>
  <%end%>

</body>
