<body id = "fondo_welcome">
  <div id = "letras_bienvenida">
    <% if user_signed_in? && current_user.activo? %>
      <% if user_signed_in? && current_user.admin? %>
        <font color = "white">
          <h1 align = "center">Bienvenid@ Administrador <%= current_user.nick_name %></h1>
        </font>
      <%end%>
      <% if user_signed_in? && current_user.user? %>
        <font color = "white">
          <h1 align = "center">Bienvenid@ <%= current_user.nick_name %></h1>
        </font>
      <% end %>
    <% end %>
  </div>
</body>
