// Place all the styles related to the habitacion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#titulo h1{
  font-family: 'Chalinka';
  font-style: italic;
  text-align: center;
  padding: -50px;
  text-shadow: -1px -1px 1px #FFF, 1px 1px 1px #FFF, -1px 1px 1px #FFF, 1px -1px 1px #FFF;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke: 3px white;
  font-size: 5em;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}


/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 1;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */

#containerImagen {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
#closebtnImagen {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 45px;
    cursor: pointer;
}
