// Place all the styles related to the nosotros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#titulo h1{
  text-align: center;
  font-family: 'Chalinka';
  font-style: italic;
  padding: 45px;
  font-size: 5em;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  -webkit-text-fill-color: #cc0000;
  -webkit-text-stroke: 2px black;
}
