#fondo_reservas{
  //falta agregar imagen de fondo
  overflow-x: hidden;//oculta scrollbar horizontal
  background-image: url(https://q-ec.bstatic.com/images/hotel/max1024x768/121/121929545.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
