// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#fondo{
  background-image: url(https://r-ec.bstatic.com/data/landmark/840x460/218/218782.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#contacto p{
  padding: -15px;
  margin: 0px 0;
  margin-left: 5px;
  font-family: 'Chalinka';
  font-style: italic;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-text-stroke: 0px black;
}

#titulo{
  text-align: center;
  font-family: 'Chalinka';
  font-style: italic;
  padding: -40px;
  font-size: 40px;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  -webkit-text-fill-color: #cc0000;
  -webkit-text-stroke: 2px black;
  margin: -100px;
}

#mySidenav a{
    position: absolute;
    font-family: 'Chalinka';
    left: -145px;
    transition: 0.3s;
    padding: 15px;
    width: 130px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}


#mySidenav a:hover{
    left: 0;
}

#instagram{
    top: 100px;
    background-color: #c32aa3;
}

#Face {
    top: 160px;
    background-color: #3b5998;
}

#booking {
    top: 220px;
    background-color: #003580;
}
